<h1>Users#edit</h1>
<p>Find me in app/views/users/edit.html.erb</p>

<%= form_for @user do |f| %>
	Username: <%= f.text_field :username %><br><br>
  <%= f.submit %>
<% end %>

<%= link_to 'Cancel', user_path %>
