<h1>Events#index</h1>
<p>Find me in app/views/events/index.html.erb</p>

<% @events.each do |e| %>
  <h2><%= link_to e.name, event_path(e) %></h2>
  <hr>
<% end %>

<%= link_to 'Create an account', users_new_path, class: 'btn btn-info' %>
