<h3>Events#show</h3>

  <h1><strong><%= @events.name %></strong></h1>
  <h4><%= link_to @events.url, "#{@events.url}" %></h4>
  <p>Posted by: <%= link_to @events.user.username, user_path(@events.user) %></p>

<hr>

<%= link_to 'Back to events', events_path, class: 'btn btn-info' %>
