<h3>Moods#index</h3>


<% @moods.each do |m| %>
  <h3><br><%= link_to (image_tag(m.image)), mood_path(m) %><br><br><%= m.name %></h3>
<% end %>

<br>
<br>
<br>

<div class="container">
  <%= link_to 'Create an account', users_new_path, class: 'btn btn-info' %>
</div>
