/*#container {
    width: 1040px;
    height: 768px;
    position: relative;
    border: 2px solid black
  }
  canvas { position: absolute; }
  #myCanvas { z-index: 3 }
  #spin { z-index: 1 }
  #BG { z-index: 2 }*/


body {
  background-image: url('IMG/Mediocre LIFE Board Game-Path.png');
  /*border: 10px inset grey;*/
  display:inline-block;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 1050px auto;
  background-position: 80px 80px;
}

#player1 {
  position: fixed;
  width: 45px;
  height: 100px;
}

#player2 {
  position: fixed;
  width: 50px;
  height: auto;
}

/*.spaces {
	background: black;
	border-radius: 50px;
  background-position: center;
  display: inline-block;
}*/

#display {
  width: 50px;
  height: 50px;
  border: 12px dotted darkcyan;
  border-radius: 50px;
  display: block;
  text-align: center;
  font-family: Phosphate-solid;
  font-size: 35px;
  padding-top: 3px;
  margin-top: -15px;
}

.spin {
  display: inline-block;
  margin: -50px 30px;
}

h1 {
  font-family: Phosphate-solid;
  letter-spacing: 2px;
  line-height: 20px;
  margin-left: 30px;
}

.fancy {
  font-family: Porter;
  font-weight: bolder;
  font-size: 45px;
  letter-spacing: 5px;
}

#player1-score{
  width: 250px;
  height: 50px;
  font-family: Phosphate-solid;
  font-size: 30px;
  top: 100px;
  left: 400px;
}

#player2-score{
  width: 250px;
  height: 50px;
  font-family: Phosphate-solid;
  font-size: 30px;
  top: 100px;
  left: 400px;
}

#start {
  /*border: 5px solid grey;*/
  background-color: transparent;
  bottom: 230px;
  left: 172px;
  width: 50px;
  height: 50px;
  position: absolute;
}

#s1 {
  /*border: 5px solid grey;*/
  background-color: transparent;
  bottom: 135px;
  left: 257px;
  width: 50px;
  height: 50px;
  position: absolute;
}
#s2 {
  /*border: 5px solid grey;*/
  background-color: transparent;
  bottom: 195px;
  left: 368px;
  width: 50px;
  height: 50px;
  position: absolute;
}
#s3 {
  /*border: 5px solid grey;*/
  background-color: transparent;
  bottom: 330px;
  left: 377px;
  width: 50px;
  height: 50px;
  position: absolute;
}
#s4 {
  /*border: 5px solid grey;*/
  background-color: transparent;
  bottom: 472px;
  left: 377px;
  width: 50px;
  height: 50px;
  position: absolute;
}

#s5 {
  /*border: 5px solid grey;*/
  background-color: transparent;
  bottom: 610px;
  left: 350px;
  width: 30px;
  height: 30px;
  position: absolute;
}

#s6 {
  /*border: 5px solid grey;*/
  background-color: transparent;
  bottom: 638px;
  left: 444px;
  width: 50px;
  height: 50px;
  position: absolute;
}

#s7 {
  /*border: 5px solid grey;*/
  background-color: transparent;
  bottom: 552px;
  left: 520px;
  width: 50px;
  height: 50px;
  position: absolute;
}

#s8 {
  /*border: 5px solid grey;*/
  background-color: transparent;
  bottom: 430px;
  left: 535px;
  width: 50px;
  height: 50px;
  position: absolute;
}

#s9 {
  /*border: 5px solid grey;*/
  background-color: transparent;
  bottom: 315px;
  left: 562px;
  width: 50px;
  height: 50px;
  position: absolute;
}

#s10 {
  /*border: 5px solid grey;*/
  background-color: transparent;
  bottom: 208px;
  left: 565px;
  width: 50px;
  height: 50px;
  position: absolute;
}

#s11 {
  /*border: 5px solid grey;*/
  background-color: transparent;
  bottom: 145px;
  left: 642px;
  width: 40px;
  height: 40px;
  position: absolute;
}

#s12 {
  /*border: 5px solid grey;*/
  background-color: transparent;
  bottom: 233px;
  left: 690px;
  width: 50px;
  height: 50px;
  position: absolute;
}

#s13 {
  /*border: 5px solid grey;*/
  background-color: transparent;
  bottom: 370px;
  left: 725px;
  width: 50px;
  height: 50px;
  position: absolute;
}

#s14 {
  /*border: 5px solid grey;*/
  background-color: transparent;
  bottom: 320px;
  left: 805px;
  width: 50px;
  height: 50px;
  position: absolute;
}

#s15 {
  /*border: 5px solid grey;*/
  background-color: transparent;
  bottom: 210px;
  left: 810px;
  width: 40px;
  height: 40px;
  position: absolute;
}

#s16 {
  /*border: 5px solid grey;*/
  background-color: transparent;
  bottom: 150px;
  left: 880px;
  width: 40px;
  height: 40px;
  position: absolute;
}

#s17 {
  /*border: 5px solid grey;*/
  background-color: transparent;
  bottom: 225px;
  left: 940px;
  width: 30px;
  height: 30px;
  position: absolute;
}

#s18 {
  /*border: 5px solid grey;*/
  background-color: transparent;
  bottom: 301px;
  left: 942px;
  width: 50px;
  height: 50px;
  position: absolute;
}

#s19 {
  /*border: 5px solid grey;*/
  background-color: transparent;
  bottom: 425px;
  left: 968px;
  width: 50px;
  height: 50px;
  position: absolute;
}

#s20 {
  /*border: 5px solid grey;*/
  background-color: transparent;
  bottom: 560px;
  left: 970px;
  width: 50px;
  height: 50px;
  position: absolute;
}

#s21 {
  /*border: 5px solid grey;*/
  background-color: transparent;
  bottom: 552px;
  left: 1020px;
  width: 50px;
  height: 50px;
  position: absolute;
}
